
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des Catégories</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }

        h1 {
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            color: #007bff;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <h1>Liste des Catégories</h1>

    <ul>
        {% for categorie in categories %}
            <li>
                <a href="{{ path('listLicencieByCat', {'categorieId': categorie.id}) }}">
                    {{ categorie.nom}}
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
